/* Default css reset */

@font-face {
    font-family: 'NorthFont';
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    font-family: sans-serif;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

/* Logo section */

.image-container-1 {
    position: relative;
    width: 470px;
    height: 100vh;
}

.background-img {
    width: 100%;
    height: 100%;
}

.overlay-img {
    position: absolute;
    width: 15%;
    height: auto;
    top: calc(34vh - 110px);
    left: 140px;
}

.overlay-img-text {
    position: absolute;
    font-family: 'NorthFont';
    color: white;
    font-size: 74px;
    top: calc(34vh - 105px);
    left: 220px;
}

.transparent-block {
    position: absolute;
    background-color: black;
    height: 120px;
    width: 100%;
    opacity: 0.5;
    top: calc(34vh - 120px);
    left: 0;
}

/* Main styles */

 body {
    display: flex;
 }


 /* Header */

 .header {
    font-size: 18px;
    background-color: #fbfbfb;
    height: 34vh;
    width: calc(100vw - 470px);
 }

 .hText1 {
    padding-top: 100px;
    padding-left: 50px;
    max-width: 700px;
 }

 .hText2 {
    padding-left: 50px;
    max-width: 700px;
 }

 .hText3 {
    padding-top: 10px;
    padding-left: 50px;
    max-width: 700px;
 }

 /* Form */

 .form-header {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 50px;
 }

 .form {
    height: 36vh;
    width: calc(100vw - 470px);
 }

 .user_form {
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
 }

 .user_form > div {
    flex-direction: column;
    flex: 150px;
    margin-right: 50px;
 }

 label {
    font-size: 12px;
    color: #454545;
    font-weight: bold;
 }

 input {
    width: 220px;
    border: 1px solid rgba(0, 0, 0, 0.3);
 }

 .error-message {
    display: none;
    color: red;
    font-size: 12px;
    position: absolute;
    margin-top: 2px;
}

 input:invalid {
    border-color: red;
    opacity: 1.0;
 }

 input:invalid + .error-message {
    display: contents;
}

 /* Submit */

 .submit {
    padding-top: 20px;
    padding-left: 50px;
    background-color: #fbfbfb;
    height: 30vh;
    width: calc(100vw - 470px);
    box-shadow: 0px 1px 7px gray;
 }

 button {
    padding: 10px 40px;
    color: white;
    background-color: #596D48;
    border-color: #596D48;
    border-radius: 5px;
 }

 button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }

 .login {
    padding-top: 20px;
    display: flex;
    gap: 10px;
 }

a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}



